In [2]:
import pandas as pd
import numpy as np
import plotly.express as px
from sklearn.preprocessing import LabelEncoder
import plotly.graph_objects as go

In [3]:
df=pd.read_excel('C:/DATA SCIENCE/PLACEMENT/Buckman/Sample Data for shortlisting.xlsx')
df.head()

,S. No.,City,Gender,Marital Status,Age,Education,Role,Number of investors in family,Household Income,Percentage of Investment,Source of Awareness about Investment,Knowledge level about different investment product,Knowledge level about sharemarket,Knowledge about Govt. Schemes,Investment Influencer,Investment Experience,Risk Level,Return Earned,Reason for Investment
0,1,New York,Men,Never Married,Early Working,Secondary,Marketing and Sales Executive,2,US$ 2736 to US$ 8205,Don't Want to Reveal,Television,7,9,4,Family Reference,Less Than 1 Year,Low,Negative Return,Tax
1,2,New York,Women,Married,Early Working,Middle,Advertising and Promotion Executive,2,US$ 19146 to US$ 24615,Don't Want to Reveal,Workers,7,5,2,Workers Reference,Less Than 1 Year,Low,10 to 12,Others
2,3,Seattle,Women,Married,Early Working,Teritary,Training and Development Executive,2,US$ 2736 to US$ 8205,Above 26%,Family,4,3,2,Friends Reference,Above 9 Years,Low,1 to 4,Return
3,4,San Francisco,Men,Never Married,Elderly,Uneducated,Training and Development Executive,5,US$ 19146 to US$ 24615,16% to 20%,Family,5,1,3,Friends Reference,7 Years to 9 Years,Low,10 to 12,Tax
4,5,San Francisco,Men,Married,Prime Working,Primary,Computer and Information System Executive,2,US$ 13676 to US$ 19145,16% to 20%,Workers,6,10,5,Family Reference,Above 9 Years,Low,5 to 6,Fun and Exitement

In [4]:
df.set_index('S. No.',inplace=True)
df.head()

,City,Gender,Marital Status,Age,Education,Role,Number of investors in family,Household Income,Percentage of Investment,Source of Awareness about Investment,Knowledge level about different investment product,Knowledge level about sharemarket,Knowledge about Govt. Schemes,Investment Influencer,Investment Experience,Risk Level,Return Earned,Reason for Investment
S. No.,,,,,,,,,,,,,,,,,,
1,New York,Men,Never Married,Early Working,Secondary,Marketing and Sales Executive,2,US$ 2736 to US$ 8205,Don't Want to Reveal,Television,7,9,4,Family Reference,Less Than 1 Year,Low,Negative Return,Tax
2,New York,Women,Married,Early Working,Middle,Advertising and Promotion Executive,2,US$ 19146 to US$ 24615,Don't Want to Reveal,Workers,7,5,2,Workers Reference,Less Than 1 Year,Low,10 to 12,Others
3,Seattle,Women,Married,Early Working,Teritary,Training and Development Executive,2,US$ 2736 to US$ 8205,Above 26%,Family,4,3,2,Friends Reference,Above 9 Years,Low,1 to 4,Return
4,San Francisco,Men,Never Married,Elderly,Uneducated,Training and Development Executive,5,US$ 19146 to US$ 24615,16% to 20%,Family,5,1,3,Friends Reference,7 Years to 9 Years,Low,10 to 12,Tax
5,San Francisco,Men,Married,Prime Working,Primary,Computer and Information System Executive,2,US$ 13676 to US$ 19145,16% to 20%,Workers,6,10,5,Family Reference,Above 9 Years,Low,5 to 6,Fun and Exitement

In [5]:
def split_income(value):
    value = value.replace(',', '')  # Remove commas if present
    if ' to ' in value:
        # Split the range and convert to integers
        income_range = value.split(' to ')
        lower_income = int(''.join(char for char in income_range[0] if char.isdigit()))
        upper_income = int(''.join(char for char in income_range[1] if char.isdigit()))
    elif 'Above' in value:
        # Extract the upper limit from "Above" format and set lower limit greater
        upper_limit = int(''.join(char for char in value if char.isdigit()))
        lower_income = upper_limit + 1  # Set lower income greater than upper limit
        upper_income = np.inf
    else:
        # Convert the single value to integer
        lower_income = int(''.join(char for char in value if char.isdigit()))
        upper_income = lower_income  # Set upper income equal to lower income for single value
    return lower_income, upper_income

In [6]:
df[['Lower Income', 'Upper Income']] = df['Household Income'].apply(lambda x: pd.Series(split_income(x)))

print(df)

                 City Gender Marital Status            Age   Education  \
S. No.
1            New York    Men  Never Married  Early Working   Secondary
2            New York  Women        Married  Early Working      Middle
3             Seattle  Women        Married  Early Working    Teritary
4       San Francisco    Men  Never Married        Elderly  Uneducated
5       San Francisco    Men        Married  Prime Working     Primary
...               ...    ...            ...            ...         ...
806           Seattle    Men        Married  Early Working   Secondary
807           Seattle    Men  Never Married       Children   Secondary
808     San Francisco    Men  Never Married       Children  Uneducated
809           Memphis  Women        Married       Children  Uneducated
810          New York    Men  Never Married  Prime Working      Middle

                                             Role  \
S. No.
1                   Marketing and Sales Executive
2             Advertising and Promotion Executive
3              Training and Development Executive
4              Training and Development Executive
5       Computer and Information System Executive
...                                           ...
806                                Top Executives
807                                Top Executives
808           Advertising and Promotion Executive
809                 Marketing and Sales Executive
810            Training and Development Executive

        Number of investors in family        Household Income  \
S. No.
1                                   2    US$ 2736 to US$ 8205
2                                   2  US$ 19146 to US$ 24615
3                                   2    US$ 2736 to US$ 8205
4                                   5  US$ 19146 to US$ 24615
5                                   2  US$ 13676 to US$ 19145
...                               ...                     ...
806                                 1                US$ 2735
807                                 4         Above US$ 30086
808                                 1  US$ 13676 to US$ 19145
809                                 3  US$ 19146 to US$ 24615
810                                 1         Above US$ 30086

       Percentage of Investment Source of Awareness about Investment  \
S. No.
1          Don't Want to Reveal                           Television
2          Don't Want to Reveal                              Workers
3                     Above 26%                               Family
4                    16% to 20%                               Family
5                    16% to 20%                              Workers
...                         ...                                  ...
806        Don't Want to Reveal                              Friends
807                  11% to 15%                             Magazine
808                  11% to 15%                               Others
809                  16% to 20%                              Workers
810                   Above 26%                          Flash Board

        Knowledge level about different investment product  \
S. No.
1                                                       7
2                                                       7
3                                                       4
4                                                       5
5                                                       6
...                                                   ...
806                                                     2
807                                                     1
808                                                     1
809                                                     6
810                                                     3

        Knowledge level about sharemarket  Knowledge about Govt. Schemes  \
S. No.
1                                       9                              4
2                                       5                              2
3                                       3                              2
4                                       1                              3
5                                      10                              5
...                                   ...                            ...
806                                     3                              1
807                                     9                              3
808                                     5                              5
809                                     5                              2
810                                     1                              4

       Investment Influencer Investment Experience Risk Level  \
S. No.
1           Family Reference      Less Than 1 Year        Low
2          Workers Reference      Less Than 1 Year        Low
3          Friends Reference         Above 9 Years        Low
4          Friends Reference    7 Years to 9 Years        Low
5           Family Reference         Above 9 Years        Low
...                      ...                   ...        ...
806           Intermediaries    7 Years to 9 Years     Medium
807        Workers Reference    7 Years to 9 Years        Low
808             Social Media      Less Than 1 Year       High
809             Social Media     1 Year to 3 Years       High
810             Institutions    4 Years to 6 Years       High

          Return Earned Reason for Investment  Lower Income  Upper Income
S. No.
1       Negative Return                   Tax        2736.0        8205.0
2             10 to 12                 Others       19146.0       24615.0
3                1 to 4                Return        2736.0        8205.0
4             10 to 12                    Tax       19146.0       24615.0
5                5 to 6     Fun and Exitement       13676.0       19145.0
...                 ...                   ...           ...           ...
806           10 to 12                 Return        2735.0        2735.0
807     Negative Return             Inflation       30087.0           inf
808           10 to 12                    Tax       13676.0       19145.0
809     Negative Return                Return       19146.0       24615.0
810              5 to 6     Fun and Exitement       30087.0           inf

[810 rows x 20 columns]

In [7]:
mean=df['Upper Income'].mean()
mean_without_inf = df[df['Upper Income'] != np.inf]['Upper Income'].mean()
df['Upper Income'] = np.where((df['Upper Income'] == np.inf) & (mean_without_inf > df['Lower Income']),
                              mean_without_inf, df['Upper Income'])
df['Upper Income']=df['Upper Income'].round(1)
print(df)

                 City Gender Marital Status            Age   Education  \
S. No.
1            New York    Men  Never Married  Early Working   Secondary
2            New York  Women        Married  Early Working      Middle
3             Seattle  Women        Married  Early Working    Teritary
4       San Francisco    Men  Never Married        Elderly  Uneducated
5       San Francisco    Men        Married  Prime Working     Primary
...               ...    ...            ...            ...         ...
806           Seattle    Men        Married  Early Working   Secondary
807           Seattle    Men  Never Married       Children   Secondary
808     San Francisco    Men  Never Married       Children  Uneducated
809           Memphis  Women        Married       Children  Uneducated
810          New York    Men  Never Married  Prime Working      Middle

                                             Role  \
S. No.
1                   Marketing and Sales Executive
2             Advertising and Promotion Executive
3              Training and Development Executive
4              Training and Development Executive
5       Computer and Information System Executive
...                                           ...
806                                Top Executives
807                                Top Executives
808           Advertising and Promotion Executive
809                 Marketing and Sales Executive
810            Training and Development Executive

        Number of investors in family        Household Income  \
S. No.
1                                   2    US$ 2736 to US$ 8205
2                                   2  US$ 19146 to US$ 24615
3                                   2    US$ 2736 to US$ 8205
4                                   5  US$ 19146 to US$ 24615
5                                   2  US$ 13676 to US$ 19145
...                               ...                     ...
806                                 1                US$ 2735
807                                 4         Above US$ 30086
808                                 1  US$ 13676 to US$ 19145
809                                 3  US$ 19146 to US$ 24615
810                                 1         Above US$ 30086

       Percentage of Investment Source of Awareness about Investment  \
S. No.
1          Don't Want to Reveal                           Television
2          Don't Want to Reveal                              Workers
3                     Above 26%                               Family
4                    16% to 20%                               Family
5                    16% to 20%                              Workers
...                         ...                                  ...
806        Don't Want to Reveal                              Friends
807                  11% to 15%                             Magazine
808                  11% to 15%                               Others
809                  16% to 20%                              Workers
810                   Above 26%                          Flash Board

        Knowledge level about different investment product  \
S. No.
1                                                       7
2                                                       7
3                                                       4
4                                                       5
5                                                       6
...                                                   ...
806                                                     2
807                                                     1
808                                                     1
809                                                     6
810                                                     3

        Knowledge level about sharemarket  Knowledge about Govt. Schemes  \
S. No.
1                                       9                              4
2                                       5                              2
3                                       3                              2
4                                       1                              3
5                                      10                              5
...                                   ...                            ...
806                                     3                              1
807                                     9                              3
808                                     5                              5
809                                     5                              2
810                                     1                              4

       Investment Influencer Investment Experience Risk Level  \
S. No.
1           Family Reference      Less Than 1 Year        Low
2          Workers Reference      Less Than 1 Year        Low
3          Friends Reference         Above 9 Years        Low
4          Friends Reference    7 Years to 9 Years        Low
5           Family Reference         Above 9 Years        Low
...                      ...                   ...        ...
806           Intermediaries    7 Years to 9 Years     Medium
807        Workers Reference    7 Years to 9 Years        Low
808             Social Media      Less Than 1 Year       High
809             Social Media     1 Year to 3 Years       High
810             Institutions    4 Years to 6 Years       High

          Return Earned Reason for Investment  Lower Income  Upper Income
S. No.
1       Negative Return                   Tax        2736.0        8205.0
2             10 to 12                 Others       19146.0       24615.0
3                1 to 4                Return        2736.0        8205.0
4             10 to 12                    Tax       19146.0       24615.0
5                5 to 6     Fun and Exitement       13676.0       19145.0
...                 ...                   ...           ...           ...
806           10 to 12                 Return        2735.0        2735.0
807     Negative Return             Inflation       30087.0           inf
808           10 to 12                    Tax       13676.0       19145.0
809     Negative Return                Return       19146.0       24615.0
810              5 to 6     Fun and Exitement       30087.0           inf

[810 rows x 20 columns]

In [8]:
df['Upper Income'] = df['Upper Income'].replace(np.inf, 100000)
print(df)

                 City Gender Marital Status            Age   Education  \
S. No.
1            New York    Men  Never Married  Early Working   Secondary
2            New York  Women        Married  Early Working      Middle
3             Seattle  Women        Married  Early Working    Teritary
4       San Francisco    Men  Never Married        Elderly  Uneducated
5       San Francisco    Men        Married  Prime Working     Primary
...               ...    ...            ...            ...         ...
806           Seattle    Men        Married  Early Working   Secondary
807           Seattle    Men  Never Married       Children   Secondary
808     San Francisco    Men  Never Married       Children  Uneducated
809           Memphis  Women        Married       Children  Uneducated
810          New York    Men  Never Married  Prime Working      Middle

                                             Role  \
S. No.
1                   Marketing and Sales Executive
2             Advertising and Promotion Executive
3              Training and Development Executive
4              Training and Development Executive
5       Computer and Information System Executive
...                                           ...
806                                Top Executives
807                                Top Executives
808           Advertising and Promotion Executive
809                 Marketing and Sales Executive
810            Training and Development Executive

        Number of investors in family        Household Income  \
S. No.
1                                   2    US$ 2736 to US$ 8205
2                                   2  US$ 19146 to US$ 24615
3                                   2    US$ 2736 to US$ 8205
4                                   5  US$ 19146 to US$ 24615
5                                   2  US$ 13676 to US$ 19145
...                               ...                     ...
806                                 1                US$ 2735
807                                 4         Above US$ 30086
808                                 1  US$ 13676 to US$ 19145
809                                 3  US$ 19146 to US$ 24615
810                                 1         Above US$ 30086

       Percentage of Investment Source of Awareness about Investment  \
S. No.
1          Don't Want to Reveal                           Television
2          Don't Want to Reveal                              Workers
3                     Above 26%                               Family
4                    16% to 20%                               Family
5                    16% to 20%                              Workers
...                         ...                                  ...
806        Don't Want to Reveal                              Friends
807                  11% to 15%                             Magazine
808                  11% to 15%                               Others
809                  16% to 20%                              Workers
810                   Above 26%                          Flash Board

        Knowledge level about different investment product  \
S. No.
1                                                       7
2                                                       7
3                                                       4
4                                                       5
5                                                       6
...                                                   ...
806                                                     2
807                                                     1
808                                                     1
809                                                     6
810                                                     3

        Knowledge level about sharemarket  Knowledge about Govt. Schemes  \
S. No.
1                                       9                              4
2                                       5                              2
3                                       3                              2
4                                       1                              3
5                                      10                              5
...                                   ...                            ...
806                                     3                              1
807                                     9                              3
808                                     5                              5
809                                     5                              2
810                                     1                              4

       Investment Influencer Investment Experience Risk Level  \
S. No.
1           Family Reference      Less Than 1 Year        Low
2          Workers Reference      Less Than 1 Year        Low
3          Friends Reference         Above 9 Years        Low
4          Friends Reference    7 Years to 9 Years        Low
5           Family Reference         Above 9 Years        Low
...                      ...                   ...        ...
806           Intermediaries    7 Years to 9 Years     Medium
807        Workers Reference    7 Years to 9 Years        Low
808             Social Media      Less Than 1 Year       High
809             Social Media     1 Year to 3 Years       High
810             Institutions    4 Years to 6 Years       High

          Return Earned Reason for Investment  Lower Income  Upper Income
S. No.
1       Negative Return                   Tax        2736.0        8205.0
2             10 to 12                 Others       19146.0       24615.0
3                1 to 4                Return        2736.0        8205.0
4             10 to 12                    Tax       19146.0       24615.0
5                5 to 6     Fun and Exitement       13676.0       19145.0
...                 ...                   ...           ...           ...
806           10 to 12                 Return        2735.0        2735.0
807     Negative Return             Inflation       30087.0      100000.0
808           10 to 12                    Tax       13676.0       19145.0
809     Negative Return                Return       19146.0       24615.0
810              5 to 6     Fun and Exitement       30087.0      100000.0

[810 rows x 20 columns]